body{
  margin-bottom: 25%;
  margin-left:30%;
  margin-top: 12.5%;
  background-color: black;
}
#tabla{
  display: table;
  border: 5px solid red;
  width: 40vw;
  height: 40vw;

}

.bigsquare {
    display: flex;
    border: 5px solid yellow;
    width: 30vw;
    height: 30vw;

}
.fila{
  display: table-row;

}
.col{
  display: table-cell;
  padding: 12px;
  background: #blue;
  border: 1px solid #000;
  vertical-align: middle;
}
.col-w {
	display: table-cell;
    background-color: blue;
    width: 5vw;
    height: 5vw;
}

.col-b {
	display: table-cell;
    background-color: greenyellow;
    width: 5vw;
    height: 5vw;
}