body{
  margin-bottom: 25%;
  margin-left:20%;
  margin-top: 10%
}
#tabla{
  display: table;
  width: 60%;

}
.fila{
  display: table-row;

}
.col{
  display: table-cell;
  padding: 12px;
  background: #blue;
  border: 1px solid #000;
  vertical-align: middle;
}
.col-w {
	display: table-cell;
    background-color: blue;
    width: 5vw;
    height: 5vw;
}

.col-b {
	display: table-cell;
    background-color: greenyellow;
    width: 5vw;
    height: 5vw;
}